<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link href="{% static 'base/css/common.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/header.css' %}" rel="stylesheet" type="text/css">


    {% block head %}
        <title>Document</title>
    {% endblock head %}

</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__container">

                <div class="header__logo">
                    <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.9998 20.6782C42.9999 20.6962 43 20.7141 43 20.7321C43 20.7501 42.9999 20.768 42.9998 20.7859C42.986 26.2479 40.8599 31.2134 37.3954 34.9089V39.3902L34.3111 37.6095C30.9164 40.0363 26.7588 41.4643 22.2677 41.4643C12.9148 41.4643 5.00839 35.2709 2.42599 26.7616C0.876198 24.958 0 22.9072 0 20.7321C0 18.557 0.876211 16.5062 2.42602 14.7026C5.00846 6.19334 12.9148 0 22.2677 0C33.6998 0 42.9707 9.25297 42.9998 20.6782Z" fill="white"/>
                    <path d="M28.0282 35.475L15.947 11.7366L23.6123 14.0178L28.0282 35.475Z" fill="#1382D0"/>
                    <path d="M18.1955 35.0303L30.2766 11.2919L22.6113 13.5731L18.1955 35.0303Z" fill="#1382D0"/>
                    <circle cx="22.2203" cy="10.691" r="2.09086" fill="#1382D0"/>
                    </svg>
                </div>

                {% if user %}
                 <nav class="header__menu header__auth">
                    <a class="header__item header__item-auth {% if  members %}header__item_active{% endif %}" href="">Список участников</a>
                    <a class="header__item header__item-auth {% if  reg_param %}header__item_active{% endif %}" href="">Параметры рекомендаций</a>
                    <a class="header__item header__item-auth {% if  main_page %}header__item_active{% endif %}" href="">Главная страница</a>
                </nav>
                {% else %}
                    <nav class="header__menu">
                    <a class="header__item {% if  mentor_reg %}header__item_active{% endif %}" href="{% url 'accounts:mentor_registration' %}">Регистрация</a>
                    <a class="header__item {% if  login %}header__item_active{% endif %}" href="{% url 'accounts:login' %}">Войти</a>
                </nav>
                {% endif %}

            </div>
        </div>

    </header>
    {% block main %}
    {% endblock main %}
</body>
</html>