{% extends 'base/base.html' %}

{% block head %}
    {% load static %}
    <link href="{% static 'accounts/css/form.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'accounts/css/profile.css' %}" rel="stylesheet" type="text/css">

    <title>Создать обсуждение</title>
{% endblock head %}

{% block main %}
    <main class="main">
        <div class="profile container">
            <div class="profile__container main__container">
                <div class="profile__container-header">
                    <h2>Создать обсуждение</h2>
                </div>
                <div class="profile__container-body">

                    <form method="POST" action="{% url 'discussions:create_discussion' %}">
                        {% csrf_token %}
                        <div class="profile__container-item">
                            <label class="form__label" for="id_email">Название</label>
                            <input class="form__input" type="text" name="name" required="" id="id_email" >
                        </div>
                        <div class="profile__container-send">
                            <input class="form__button" type="submit" value="Создать">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}